{% extends "layout.html" %} {% block content %}
<h3 class="text-center mt-4">Confirm Delete</h3>
<input
  class="form-control mt-4"
  type="text"
  name="todo"
  value="{{todo['content']}}"
  disabled
/>
<div class="d-flex justify-content-center p-4 m-4">
  <form action="{{ url_for('main.delete', index=index) }}" method="post">
    <button type="submit" class="btn btn-primary me-2">Delete</button>
  </form>
  <a href="{{url_for('main.todo')}}" class="btn btn-primary">Cancel</a>
</div>
{% endblock %}
