{% extends "layout.html" %} {% block content %}
<h1>{{todo.content}}</h1>
<form action="{{ url_for('detail.edit', index=index) }}" method="post" class="post-form my-3">
  <input
    class="form-control mt-3"
    type="text"
    name="todo"
    value="{{todo['content']}}"
  />
  <div class="d-flex justify-content-center p-4 m-4">
    <button class="btn btn-primary me-2" type="submit">Save</button>
    <a href="{{url_for('main.index')}}" class="btn btn-primary">Cancel</a>
  </div>

</form>

<form class="post-form my-3" action="{{ url_for('detail.edit', index=index, task_form=form) }}">
  <h5 class="my-3 border-bottom pb-2">Details</h5>
  <div class="form-group">
    <label for="subject">Subject</label>
    <input type="text" class="form-control" name="subject" id="subject">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" name="content" id="content" rows="5"></textarea>
  </div>
    
  <button class="btn btn-primary me-2" type="submit">Save</button>
  </div>
</form>

{% endblock %}
