{% extends "layout.html" %} {% block content %}
<div>
  <h1 class="display-3 mt-4">TO DO LIST</h1>
  <form action="{{ url_for('main.add') }}" method="post">
    <input
      class="form-control mt-3"
      type="text"
      placeholder="What would you do today?"
      name="todo"
    />
    <button class="btn btn-primary mt-3 mb-3" type="submit">Add to List</button>
  </form>
  {% if todos %}

    <div class="container my-3">
      <table class="table">
        <thead>
        <tr class="thead-dark">
          <th>Task</th>
          <th>Progress</th>
        </tr>
        </thead>
        <tbody>
         {% for todo in todos %}
          <tr>
            <td>
              <input type="checkbox" name="status"
                {% if todo.status %} checked {% endif %}
              />
              <span {% if todo.status %} style="text-decoration: line-through" {% endif %} >
                <a href="{{url_for('detail.edit', index=todo.id)}} ">{{todo.content}}</a>
                <div>
                  {{todo.create_date}}
                </div>
              </span>

            </td>

            <td>
              <a class="ml-2" href="{{ url_for('main.check', index=todo.id) }}">Done</a>
              <a class="ml-2" href="{{ url_for('main.edit', index=todo.id) }}">Edit</a>
              <a class="ml-2" href="{{ url_for('main.delete', index=todo.id) }}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- <ul class="list-group">
      {% for todo in todos %}
      <li class="d-flex justify-content-between list-group-item mt-2">
        <div>
          <input
            type="checkbox"
            name="status"
            {% if todo.status %} checked {% endif %}
          />
          <span {% if todo.status %} style="text-decoration: line-through" {% endif %} >
            <a href="{{url_for('detail.edit', index=todo.id)}} ">{{todo.content}}</a>
            <div>
              {{todo.create_date}}
            </div>
          </span>

        </div>

        <div>
          <a class="ml-2" href="{{ url_for('main.check', index=todo.id) }}">Done</a>
          <a class="ml-2" href="{{ url_for('main.edit', index=todo.id) }}">Edit</a>
          <a class="ml-2" href="{{ url_for('main.delete', index=todo.id) }}">Delete</a>
        </div>
      </li>
      {% endfor %}
    </ul> -->
  {% endif %}
</div>
{% endblock %}
