<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Routiner</title>
  </head>
  <body>
    <header>
      <h1>Hey {{name}}!</h1>
    </header>
    <main>
      <form action="">
        <input type="text" placeholder="What would you do today?" />
        <input type="submit" value="Add to List" />
      </form>
    </main>
    <footer>
      <p>PROJECT BY DANY & JUN</p>
    </footer>
  </body>
</html>
