<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Routiner</title>
  </head>
  <body>
    <header>
      <h1>Hey {{name}}!</h1>
    </header>
    <main>
      <form action="{{ url_for('main.add') }}" method="post">
        <input type="text" placeholder="What would you do today?" name="todo" />
        <button type="submit">Add to List</button>
      </form>
      <ul>
        {% for todo in todos %}
        <li>
          <input type="checkbox" name="status" {% if todo['status'] %} checked {% endif %} /> 
          <span {% if todo['status'] %} style="text-decoration: line-through;" {% endif %}>
            {{todo['content']}}
          </span>
          <a href="{{ url_for('main.check', index=loop.index0) }}">Done</a>
          <a href="{{ url_for('main.edit', index=loop.index0) }}">Edit</a>
          <a href="{{ url_for('main.delete', index=loop.index0) }}">Delete</a>
        </li>
        {% endfor %}
      </ul>
    </main>
    <footer>
      <p>PROJECT BY DANY & JUN</p>
    </footer>
  </body>
</html>
