<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet" /> -->
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {% endblock %}
    <title>Daily Routiner</title>
  </head>
  <body>
    <main class="container">
      {% block content %}{% endblock %}
      <footer class="text-center blockquote">
        <p class="m-5">PROJECT BY DANY & JUN</p>
      </footer>
    </main>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }} {% endblock %}
  </body>
</html>
